* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.ttf") format("ttf"),
      url("../fonts/helvetica-rounded-bold-5871d05ead8de.otf") format("otf"),
      url("../fonts/Helvetica-BoldOblique.ttf") format("ttf"),
      url("../fonts/helvetica-compressed-5871d14b6903a.otf") format("otf"),
      url("../fonts/helvetica-light-587ebe5a59211.ttf") format("ttf"),
      url("../fonts/Helvetica-Oblique.ttf") format("ttf"),
      url("../fonts/Helvetica.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

/* Variables */

:root {
    /* Colors */
    --skin: #FDF5DF;
    --cyan: #5EBEC4;
    --pink: #F92C85;
    --grey: #787673;
    --border-grey: #595959;
    /* font-family */
    --helvetica: 'Helvetica';
}

body {
    font-family: var(--helvetica) !important;
}

/* main */

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(Untitled.png); */
    background-size: cover;
    background-color: var(--skin);
}

/* header */

.main .header span {
    /* font-family: var(--helvetica); */
    font-weight: 600;
    color: var(--grey);
    font-size: .75rem;
}

.main .header .icon-logo {
    width: 75px;
    position: relative;
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

.main .header .logo-container img {
    width: 260px;
    position: relative;
}

/* Select language */

section h1,
.text p {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--grey);
    /* font-family: var(--helvetica); */
}

section h1 {
    width: fit-content;
}

.text p {
    width: 350px;
    text-align: justify;
}

.main .select-lang span {
    width: 50px;
    height: 50px;
    display: inline-flex;
    clip-path: circle();
}

.main .select-lang img {
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: .4;
}

/* btns */

.btns img {
    cursor: pointer;
}

.btns .language-icon {
    width: 65px;
    clip-path: circle();
    transform: translate(50px, 15px) rotate(16deg);
    -webkit-transform: translate(50px, 15px) rotate(16deg);
    -moz-transform: translate(50px, 15px) rotate(16deg);
    -ms-transform: translate(50px, 15px) rotate(16deg);
    -o-transform: translate(50px, 15px) rotate(16deg);
}

.btns .listening-btn {
    width: 160px;
}

.btns .recording-btn {
    width: 180px;
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
}

.text span {
    font-size: 1.2rem;
}

/* Modal */

section .modal-content,
footer .modal-content {
    background-color: var(--skin);
    border: 6px solid var(--border-grey);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

@media screen and (min-width: 576px) {
    section .modal-dialog,
    footer .modal-content {
        max-width: 300px;
    }   
}

.modal-backdrop {
    background-color: transparent !important;
 }

 .modal-header .btn-close {
    position: absolute;
    right: -16px;
    top: -15px;
    background-color: var(--skin);
    border-radius: 50%;
    border: 6px solid var(--border-grey);
    color: var(--border-grey);
    font-size: 1.2rem;
    padding: .8rem .8rem;
    opacity: 1;
    box-shadow: none;
    z-index: 10;
}

.modal-footer a {
    color: var(--border-grey);
}

.modal-header span {
    color: var(--grey);
}

.scroll-y {
    overflow-y: scroll;
    max-height: 460px;
    margin: 30px 10px 10px;
}

.scroll-y::-webkit-scrollbar {
    width: 8px;
}

.scroll-y::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-y::-webkit-scrollbar-thumb {
    background-color: #595959;
}

#infoModal .modal-content {
    max-height: 500px;
}

#infoModal .modal-body h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

#listeningModal .modal-body .play-pause-btn span,
#recordingModal .modal-body .record-btn span {
    cursor: pointer;
    width: 6.5rem;
    height: 6.5rem;
    font-size: 2.5rem;
    transition: all .5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#listeningModal .modal-body .play-pause-btn span {
    background-color: var(--cyan);
}

#listeningModal .modal-body .play-pause-btn span,
#recordingModal .modal-body .record-btn {
    border: 10px solid var(--border-grey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#recordingModal .modal-body .record-btn {
   background-color: var(--pink);
}

#recordingModal .modal-body .record-btn span {
    color: white;
}

#listeningModal .modal-body .play-pause-btn span:hover {
    color: #00b0f0;
    background-color: #7af5ff;
}

/* .visualizer {
    padding: 2rem 0;
} */

.bars {
    column-gap: 4px;
    /* background-color: var(--skin); */
    z-index: 0;
}

.bar {
    display: inline-flex;
    background-color: #d9d9d9;
    mix-blend-mode: darken;
    width: 6px;
}
  .bar:first-child {
    height: 20px;
  }
  .bar:nth-child(2) {
    height: 36px;
  }
  .bar:nth-child(3) {
    height: 46px;
  }
  .bar:nth-child(4) {
    height: 62px;
  }
  .bar:nth-child(5) {
    height: 38px;
  }
  .bar:nth-child(6) {
    height: 30px;
  }
  .bar:nth-child(7) {
    height: 20px;
  }
  .bar:nth-child(8) {
    height: 32px;
  }
  .bar:nth-child(9) {
    height: 20px;
  }
  .bars svg {
    position: absolute;
    z-index: 2;
  }
  .bars svg,
  .bars svg rect {
    width: 85px;
    height: 65px;
  }
  .bars svg rect {
   fill: black;
  }
  /* @-webkit-keyframes sound {
    0% {
      opacity: 0.35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 24px;
    }
  }
  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 24px;
    }
  } */

/* Recording btn */

#recordingModal {
    --canvas-width: 8rem;
    --radius: calc(50% - ( 1.25em / 2 ) );
    --pi: 3.14159265358979;
    --circumference: calc( 2 * var(--radius) * var(--pi) );
    --degconst: var(--circumference) / 360;
    --initial: 50; /* 0 - 360 */
    --target: 300; /* 0 - 360 */
    --speed: 0.27; /* 0 - 1 */ 
    --deltaPos: calc( var(--target) - var(--initial) ); /* Use if target > initial */
    --deltaNeg: calc( var(--initial) - var(--target) ); /* Use if target < initial */
    --animation-duration: calc( ( 1 / var(--speed) * 500ms ) + ( var(--deltaPos) / 360 ) * ( 1 / var(--speed) * 500ms ))
  }
  
#recordingModal .record-btn .progress-circle {
    position: absolute;
    transform: rotate(-90deg);
    width: var(--canvas-width);
    aspect-ratio: 1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
  
  .progress {
    stroke: white;
    stroke-width: 7px;
    fill: transparent;
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: calc( ( 360 ) * var(--degconst) );
    /*stroke-linecap: round; */
    }
  
.recording-animation {
    animation: progress 10.5s ease forwards 1;
    -webkit-animation: progress 10.5s ease forwards 1;
}

  @keyframes progress {
    to {
      stroke-dashoffset: 0;
    }
  }

  .recording-duration {
    font-size: 2rem;
    font-weight: 600;
    color: var(--border-grey);
}

/* Footer */

.main .footer-container {
    background-color: var(--grey);
    width: 100%;
}

.footer-container .icons span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--skin);
    height: 55px;
    width: 55px;
    font-size: 1.5rem;
    color: var(--border-grey);
    border: 4px solid var(--border-grey);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-container .links a,
.footer-container .links span {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}